<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Job Detail</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="bg-primary">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">JTarget</a>
                </div>
                <div>
                    <ul class="nav navbar-nav" th:if="${session.userBean.getUserType().equals('2')}">
                        <li><a th:href="@{${'/user/detail'}(userId=${session.userBean.getUserId()})}">HOME</a></li>
                        <li><a href="/job/list">JOB LIST</a></li>
                        <li class="active"><a href="/job/addJob">POST ONE JOB</a></li>
                        <li><a href="/logout">LOGOUT</a></li>
                        <li><a href="/register">REGISTERED</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>Add a Job</h1>
        </div>
    </div>
    <div class="container">

    </div>
    <h1></h1>
</div>

<div class="container">
    <form role="form" method="post" action="/job/add">
        <div class="form-group">
            <label for="region">region</label>
            <input type="text" class="form-control" id="region" name="region"
                   placeholder="please input job region">
        </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name"
                   placeholder="please input job name">
        </div>
        <div class="form-group">
            <label for="salary">salary</label>
            <input type="text" class="form-control" id="salary" name="salary"
                   placeholder="please input salary">
        </div>
        <div class="form-group">
            <label for="contact">contact</label>
            <input type="text" class="form-control" id="contact" name="contact"
                   placeholder="please input contact">
        </div>
        <div class="form-group">
            <label for="detail">detail</label>
            <input type="text" class="form-control" id="detail" name="detail"
                   placeholder="please input detail">
        </div>
        <div class="form-group">
            <label for="domain">classification</label>
            <select class="form-control" id="domain" name="domain">
                <option value="Accounting">Accounting</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Education">Education</option>
            </select>
        </div>
        <div class="form-group">
            <label for="profession">category</label>
            <select class="form-control" id="profession" name="profession">
                <option value="Financial Accounting">Financial Accounting</option>
                <option value="Corporate Advisory">Corporate Advisory</option>
                <option value="Business Services">Business Services</option>

                <option value="Systems Analysts">Systems Analysts</option>
                <option value="Developers">Developers</option>
                <option value="Project Management">Project Management</option>

                <option value="Childcare">Childcare</option>
                <option value="Teaching-Primary">Teaching-Primary</option>
                <option value="Teaching-Secondary">Teaching-Secondary</option>
            </select>
        </div>
        <div class="form-group">
            <label for="experienceMin">experience min value</label>
            <input type="text" class="form-control" id="experienceMin" name="experienceMin"
                   placeholder="please input experience min value">
        </div>
        <div class="form-group">
            <label for="experienceMax">experience max value</label>
            <input type="text" class="form-control" id="experienceMax" name="experienceMax"
                   placeholder="please input experience max value">
        </div>
        <!--<div class="form-group">-->
            <!--<label for="softSkills">soft_skills</label>-->
            <!--<div class="form-group">-->
                <!--<input type="checkbox" value="Communication" name="softSkills" id="softSkills">Communication-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<input type="checkbox" value="Teamwork" name="softSkills" id="softSkills2">Teamwork-->
            <!--</div>-->
        <!--</div>-->
        <button type="submit" class="btn btn-primary">
            submit
        </button>
        <h1></h1>
        <h1></h1>
    </form>
</div>

<div class="footer">
    <div class="bg-primary">
        <div class="container">
            <h1></h1>

        </div>
    </div>
</div>


</body>
</html>