<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="bg-primary">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">JTarget</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/login">HOME</a></li>
                        <li><a href="/login">USER LIST</a></li>
                        <li><a href="/login">JOB LIST</a></li>
                        <li><a href="/login">USER LIST</a></li>
                        <li><a href="/login">POST ONE JOB</a></li>
                        <li><a href="/login">LOGIN</a></li>
                        <li><a href="/register">REGISTERED</a></li>
                        <li><a href="/login">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="page-header">
            <h1 class="text-danger">LOGIN </h1>
        </div>
    </div>
    <h1></h1>
</div>

<div class="container">
    <p style="color: red" th:text="${error}" th:if="${not #strings.isEmpty(error)} "></p>

    <form role="form" method="get" action="/loginAction">
    <div class="form-group">
        <label for="userAccount">user account</label>
        <input type="text" class="form-control" id="userAccount" name="userAccount"
               placeholder="please input user account">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password" name="password"
               placeholder="please input password">
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="userType" id="userType1" value="1" checked>job seeker
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="userType" id="userType2" value="2">recruiter
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="userType" id="userType3" value="3">system administrator
        </label>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
    <h1></h1>
    <h1></h1>
</form>
</div>


<div class="footer">
    <div class="bg-primary">

    </div>
</div>

</body>
</html>