<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Published job list</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="bg-primary">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">JTarget</a>
                </div>
                <div>
                    <ul class="nav navbar-nav" th:if="${session.userBean.getUserType().equals('1')}">
                        <li><a th:href="@{${'/user/detail'}(userId=${session.userBean.getUserId()})}">HOME</a></li>
                        <li><a href="/job/list">JOB LIST</a></li>
                        <li><a href="/login">LOGIN</a></li>
                        <li><a href="/register">REGISTERED</a></li>
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                    <ul class="nav navbar-nav" th:if="${session.userBean.getUserType().equals('2')}">
                        <li><a th:href="@{${'/user/detail'}(userId=${session.userBean.getUserId()})}">HOME</a></li>
                        <li><a href="/job/list">JOB LIST</a></li>
                        <li><a href="/job/addJob">POST ONE JOB</a></li>
                        <li><a href="/login">LOGIN</a></li>
                        <li><a href="/register">REGISTERED</a></li>
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                    <ul class="nav navbar-nav" th:if="${session.userBean.getUserType().equals('3')}">
                        <li><a th:href="@{${'/user/detail'}(userId=${session.userBean.getUserId()})}">HOME</a></li>
                        <li><a href="/user/list">USER LIST</a></li>
                        <li><a href="/logout">LOGOUT</a></li>
                        <li><a href="/register">REGISTERED</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>User List</h1>
        </div>
    </div>

    <h1></h1>
</div>


<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>UserName</th>
                <th>UserAccount</th>
                <th>UserType</th>
                <th>operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${pageInfo.data}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userAccount}"></td>
                <td th:if="${user.userType eq '1'}">
                    job seeker
                </td>
                <td th:if="${user.userType eq '2'}">
                    recruiter
                </td>
                <td>
                    <a th:href="@{${'/user/update'}(userId=(${user.userId}))}">see details</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li>
                    <a th:if="${not isFirstPage}" th:href="@{${'/user/list'}(currentPage=(${pageNum} -1),pageSize=${pageSize})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a th:if="${isFirstPage}" href="javascript:void(0);" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo}"></span>
                    </a>

                    <a th:if="${not (pageNum eq pageNo)}"
                       th:href="@{${'/user/list'}(currentPage=${pageNo},pageSize=${pageSize})}">
                        <span th:text="${pageNo}"></span>
                    </a>
                </li>

                <li>
                    <a th:if="${not isLastPage}" th:href="@{${'/user/list'}(currentPage=${pageNum+1},pageSize=${pageSize})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a th:if="${isLastPage}" href="javascript:void(0);" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="footer">
    <div class="bg-primary">
    </div>
</div>

</body>
</html>